<!doctype html>
    <html lang="pt-br">
    <head th:replace="fragments/fragments :: head('Título da Página')"></head>
    <body>
        <div th:replace="~{fragments/fragments :: header}"></div>
        <main>

            <h1>Welcome to My Page</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
                Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
            </p>

            <a
                class="btn btn-primary btn-lg"
                href="task/register"
            >
                Run
            </a>

        </main>
        <div th:replace="~{fragments/fragments :: footer}"></div>
        <div th:replace="~{fragments/fragments :: scripts}"></div>
    </body>
</html>